
.modalsuccess__inner {
  display: flex;
  width: 728px;
  min-height: 444px;
  position: fixed;
  top: calc(50% - 295px);
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 2;
  background-color: $white;
  padding: 180px 165px;
}

.modalsuccess {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalsuccess__text {
  font-size: 25px;
  line-height: 43px;
  font-weight: 500;
}

.modalsuccess__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 28px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.hidden {
  display: none;
}

